@charset "ISO-8859-1";
      body{
           background:linear-gradient(to right,#23074d,#cc5333);
        }
        
 
       
        .db-body-entry, .db-body-update{
        background:#f1f1f1;
        }
        input{
        background:linear-gradient(to right,#ffffff,#0000000);
           
        }
        
      .register{
      margin:100px;
        background: #ffffff;
        padding: 15px;
        border-radius: 25px;
        box-shadow: 3px 3px 3px 3px #485563;
        color: #000000;
      }
      .tab-content{

        padding: 40px 40px 80px 40px;
        border-radius: 15px;
        background: linear-gradient(#006543 , #907t55);
      }


      p{
        text-align: justify;
      }
      .footer{
        background:#485563;
        padding: 10px;
        margin-top:40px;
      }
      option{
      font-weight:bold;
      font-family:cursive;
      color:red;
      font-size:20px;
      }
      .ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
